@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<p>&nbsp;</p>
<address>

        <p><strong>UP CLOUDS(BEIJING) TECHNOLOGY CO.LTD</strong></p>

        <p>&nbsp;</p>

        <p>Appt1-2F,</p>

        <p>12, Tianzhu West Road , District A Tianzhu Airport Industrial Zone ,</p>

        <p>Shunyi Distrct , Beijing , CHINA 101318</p>

        <p>&nbsp;</p>

        <p><strong>Fax:</strong> &nbsp;0086-10-80486624</p>

        <p><strong>Tel :</strong>&nbsp; 0086-10-80486614</p>

        <p><strong>mail:</strong> Eissykids@gmail.com</p>

       

 

</address>

